<div class="wall">
  <div id="fullpage">
    <div class="section section-gallery" id="section0">
        <div class="slide" id="slide1"></div>
        <div class="slide" id="slide2"></div>
        <div class="slide" id="slide3"></div>
        <div class="slide" id="slide4"></div>
        <div class="slide" id="slide5"></div>
        <div class="slide" id="slide6"></div>
        <div class="slide" id="slide7"></div>
        <div class="slide" id="slide8"></div>
        <div class="slide" id="slide9"></div>
        <div class="slide" id="slide10"></div>
        <div class="slide" id="slide11"></div>
        <div class="slide" id="slide12"></div>
        <div class="slide" id="slide13"></div>
        <div class="slide" id="slide14"></div>
        <div class="slide" id="slide15"></div>
        <div class="slide" id="slide16"></div>
        <div class="slide" id="slide17"></div>
        <div class="slide" id="slide18"></div>
        <div class="slide" id="slide19"></div>
        <div class="slide" id="slide20"></div>
        <div class="slide" id="slide21"></div>
        <div class="slide" id="slide22"></div>
        <div class="slide" id="slide23"></div>
        <div class="slide" id="slide24"></div>
    </div>
    <div class="section " id="section1">
      <div class="theme">
        <ul class="alias">
          <li class="p">
            <div class="name"></div>
            <img alt="P" src="/images/theme_m.png" />
          </li>
          <li class="and">
            <img alt="&" src="/images/theme_and.png" />
          </li>
          <li class="m">
            <div class="name">&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <img alt="P" src="/images/theme_p.png" />
          </li>
        </ul>
        <div class="slagon">
          <img alt="Infinity" src="/images/theme_infinity.png" />
        </div>
        <div class="thanks">
          <p class="hr"></p>
          <span>感谢参加我们的婚礼！</span>
        </div>
      </div>
    </div>
    <div class="section" id="section2"></div>
  </div>
  <div class="wish-board" id="wish-board"></div>
</div>
